<html>
    <head>
        <style>
            body: {

                font-family: Arial, Helvetica, sans-serif;

            }
        </style>
    </head>

    <body>
        <strong>Olá</strong>
        <p>Você tem uma nova solicitação de compra para o anúncio</p>
        <br>
        <strong>{{ token }}</strong>
    </body>

</html>